.jumbotron {
  padding-top: 3.5rem;
  background-color: #b2cdff;
}

#info {
  background-color: #b2cdff;
}

#info h5{
  text-align: center;
}

section {
  padding-top: 5rem;
}

/* .carousel-iner {
  padding-top: 6rem;
} */

#form input{
  text-transform: capitalize;
}

#form textarea{
  text-transform: capitalize;
}



