.jumbotron {
  padding-top: 3.5rem;
  background-color:#0d6efd;
}


#info h5{
  text-align: center;
}

section {
  padding-top: 5rem;
}


#form input{
  text-transform: capitalize;
}

#form textarea{
  text-transform: capitalize;
}

#grup_band p{
  text-align: center;
}




